@import url('https://fonts.googleapis.com/css?family=Asap+Condensed');

body {
  margin: 0;
  padding: 0;
  font-family: 'Asap Condensed', sans-serif;
}

.coming-soon-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 25vh;
}
